.signUp-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  gap: 20px;
}

.login-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.form-heading {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 27px;
}
