.recipt-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  
}

.recipt-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.recipt-address-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipt-addrss {
  max-width: 25%;
  text-align: center;
  word-break: break-word;
  font-size: 18px;
}

.recipt-no-date-wrapper {
  display: flex;
  gap: 2px;
  font-size: 17px;
}

.studentDetails {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.studentDetails .input-wrapper {
  /* flex: 1 1 0; */
}

.paymentData {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
